#page-mod-subcourse-view #gradeinfobox,
#page-mod-subcourse-view #fetchinfobox {
    text-align: center;
}

#page-mod-subcourse-view #gradeinfobox .currentgrade {
    font-weight: bold;
}

#page-mod-subcourse-index #subcourseslist {
    margin: 0px auto;
}
